extends ../layout

block content
  h1= title

  p Voici l'utilisateur :

  table(border=1)
    tr
      th Id
      td= user._id
    tr
      th Pseudo
      td= user.username
    tr
      th Prénom
      td= user.name
    tr
      th Email
      td= user.mail
